<div class="app">
    <header [ngStyle]="{'background-image': 'url(' + data.image + ')'}">
        <a href="https://github.com/smarza/ngx-smz">
            <img [src]="repositoryLogo" alt="GitHub Repository">
        </a>
    </header>
    <nav>
        <a [routerLink]="[data.moduleLink]" aria-current="page">{{ data.module }}</a>
    </nav>
    <main>
        <h1>{{ data.title }}</h1>
        <p>{{ data.description }}</p>
        <div class="main__code-block">
            <demo-code-block [code]="data.code"></demo-code-block>
        </div>
        <a [routerLink]="[data.demoLink]" routerLinkActive="router-link-active" >See Demo</a>
    </main>
</div>