<!-- <button pButton type="button" class="ui-button" label="Open Dialog" (click)="show()"></button>

<ng-container *ngIf="formConfig != null">
    <button pButton type="button" class="ui-button" label="Limpar" (click)="clear(formComponent)"></button>
    <button pButton type="button" class="ui-button" label="Test" (click)="test(formComponent)"></button>
    <button pButton type="button" class="ui-button" label="Salvar" (click)="test(formComponent)" [disabled]="!formComponent?.isValid || !formComponent.hasChanges"></button>

</ng-container> -->

<smz-form-group #formComponent [config]="formConfig" (statusChanges)="onFormChange($event)"></smz-form-group>

