.smz-button-success {
    .ui-button {
        color: #fff;
        background-color: #107d11;
        border: 1px solid #107d11;

        &:hover {
            color: #fff;
            background-color: #107d11;
        }
    }
}

.smz-button-ghost {
    .ui-button {
        color: #007ad9;
        background-color: #fff;
        border: 1px solid #007ad9;

        &:hover {
            color: #fff;
            background-color: #007ad9;
        }
    }
}
