:root {
    --smz-form-global-scale: 1rem;
}

.input_inner__wrapper {
    position: relative;
}

.smz_form__wrapper{
    font-size: var(--smz-form-global-scale);
}

.input__control__wrapper {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

.smz__group_name {
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 0.6em;
    margin-bottom: 0.2em;
}

.smz__input_name {
    font-size: 1em;
}

.smz__input_value {
    font-size: 1em;

    &.ui-inputtext {
        font-size: 1em;
    }

    .ui-dropdown {
        font-size: var(--smz-form-global-scale);

        .ui-inputtext {
            font-size: 1em;
        }
    }

    .ui-multiselect {
        font-size: var(--smz-form-global-scale);

        .ui-inputtext {
            font-size: 1em;
        }
    }
}


.error-message {
    font-size: .8em;
    color: red;
    position: absolute;
    bottom: -2em;
    right: 0;
    left: 0;
    text-align: end;
    padding: 0.3em;
}

