.input_inner__wrapper {
    position: relative;
}

.input__control__wrapper {
    margin-bottom: 5px;
}

.error-message {
    font-size: .8em;
    color: red;
    position: absolute;
    bottom: -25px;
    right: 0;
    left: 0;
    text-align: end;
    padding: 3px;
}