<p>Colr: {{ color }}</p>
<button pButton type="button" class="ui-button" label="Green" (click)="clicked.emit('green')"></button>
<button pButton type="button" class="ui-button" label="Blue" (click)="clicked.emit('blue')"></button>
<button pButton type="button" class="ui-button" label="Validar" (click)="isValid = true"></button>
<button pButton type="button" class="ui-button" label="Invalidar" (click)="isValid = false"></button>

<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div><div>1</div>
<div>1</div>
<div>1</div>
